*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body{
    background-color: rgb(26, 26, 26);
    color: #fff;
    overflow-x: hidden !important;
}

.container{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(to top, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 1) 100%),url(images/netflix\ image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 0 0 0; 
    position: relative;
}
.netflixLogo{
    width: 160px;
    padding: 0 100px;
    cursor: pointer;
    
}
.netflix-bar{
    display: flex;
    justify-content: space-between;
    /* top and bottom 10px, left and right 40px */
    padding: 10px 40px; 
}

/* .netButtons{
    margin-right: 100px;
} */

.netflix-bar button{
    color: #fff;
    /* border: none;
    outline: none; */
    /* background-color: #e50914; */
    padding: 10px 25px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
    margin-right: 25px;
}

.eng-btn{
  background: none;
  border: 1px solid #fff;
}
#eng{
  background: none;
  border: 1px solid #fff;
  color: white;
  padding: 7px 20px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
    margin-right: 25px;
}

.eng-btn img{
    width: 12px;
    margin-left: 9px;
}
.sign-in-btn{
  background-color: #e50914;
  border: none;
  outline: none;
  border-radius: 2px;
}

.get-started-btn img{
   
    width: 22px;
    margin-left: 9px;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;
}

.content h1{
    font-size: 40px;
    font-weight: 700;
    /* margin-bottom: 70px; */
    max-width: 850px;
    margin-bottom: 25px;
}

.content h3{
    font-weight: 300;
    margin-bottom: 20px;
}

.content h5{
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 300;
}
.netflixform{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 4px;
    /* overflow: hidden; */
    padding: 30px 0 0 0;
}

.netflixform input{
    color: white;
    background: none;
    flex: 1;
    border: 1px solid #fff;
    outline: none;
    margin-left: 20px;
    /* border-radius: 4px; */
    padding: 20px 30px;
    border-radius: 3px;
   
}

.netflixform button{
    background-color: #e50914;
    border: none;
    outline: none;
    color: #fff;
    padding: 15px 30px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer; 
    margin-left: 10px; 
}

.television{
  background-color: black;
  border-bottom: 9px solid #222;
  padding: 70px 95px;
  margin-top: 10px;
}

.television-container{
  display: flex;
  max-width: 1100px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#television-heading{
  font-size: 3.125rem;

}

.clip{
  width: 45%;
  position: relative;
  max-width: 600px;
  margin: auto;
}


.clipp{
  width: 45%;
  position: relative;
  max-width: 600px;
  margin: auto;
}

.clipp img{
 z-index: 1;
 position: relative;
}


.description{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.description p{
  font-size: 1.625rem;
}

.clip img{
  width: 100%;
  width: 400px;
  position: relative;

}

#television-video{
  position: absolute;
  top: 16.4%;
  left: 10%;  
  width: 60%;
  object-fit: cover;
  height: 45%;
  opacity: 100%;

}
.DiffFeatures {
    width: 100%;
    padding: 70px 5px;
    background-color: black;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
  
  .DiffFeatures img {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
    padding: 0px 60px 60px 0px;
    margin-right: 35px;
    max-width: 600px;
  
   
    height: 260px;
  }
  
  .DiffFeatures .image {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    
  }
  
  .DiffFeatures-content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 180px;
    padding-bottom: 70px;
   
  
  }
  .DiffFeatures-content p {
    font-size: 25px;
    margin-top:28px;
  }
  
  .DiffFeatures-content h1 {
    font-size: 3.125rem;
  }

  .Features {
    width: 100%;
    /* min-height: 360px; */
    background-color: black;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
  }
  
  .Features img{
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* object-fit: contain;
    object-position: center; */
    /* align-self: center; */
    padding-left: 140px;
    margin-right: 35px;
  
    /* max-width: 100%; */
    height: 360px;
  }
  
  .Features .image {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    /* align-self: center;
    object-fit: contain; */
  }
  
  .Features-content{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding-left: 10px;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-right: 200px;
   
    /* align-self: center;
    align-content: center; */
  }
  .Features-content p {
    font-size: 20px;
    margin-top:28px;
  }
  
  .Features-content h1 {
    font-size: 3.125rem;
  }

.faq{
    text-align: center;
    font-size: large; 
    background-color: black;
    margin-top: 10px;
    padding-top: 20px;
}

.accordion {
  background-color: #444444;
  color: white;
  cursor: pointer;
  padding-top: 17px;
  padding-left: 15px;
  margin-top:20px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #5d5b5b;
}

.accordion:after {
  content: '\002B';
  color: white;
  font-weight: 500;
  float: right;
  font-size: 40px;

  padding-right: 5px;

}

.active:after {
  /* content: "\00D7"; */
  transform: rotate(135deg);
  padding-right: 25px;
}

.panel {
  margin-top:4px;
  background-color: #444444;
  width: 50%;
  margin-left:315px;
  max-height: 0;
  padding-right: 2px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p{
  font-size: 19px;
  text-align: left;
  padding-left: 15px;
  padding-top: 6px;
  padding-bottom: 16px;
}

.faq-footer h3{
  text-align: center;
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.faq-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 4px;
  overflow: hidden;
  padding: 30px 0 0 0;
}

.faq-form input{
  color: white;
  padding: 15px 10px;
 width: 25%;
 background: none;
 border: 1px solid #fff;
    outline: none;
    margin-right: 1px;
    border-radius: 3px;
    margin-bottom: 20px;

}

.faq-form button{
  background-color: #e50914;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 30px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer; 
    margin-left: 5px; 
    margin-bottom: 20px;
}

.footer{
  padding: 50px 15% 10px;
  border-top: 6px solid #222;
  color: #777;
}

.footer h2{
  font-size: 18px;
  font-weight: 400;
  color: #d0caca;
  margin-bottom: 30px;
}

.footer .row{
  display: flex;
  align-items: flex-start;
  padding: 10px 0;
}
.footer .eng-btn{
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}
.copyright{
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #d0caca;
}
.footer .col{
  flex-basis: 25%;
  flex-grow: 1;
  margin-bottom: 20px;
}
.footer .col a{
  display: block;
  text-decoration: none;
  color: #d0caca;
  font-size: 16px;
  margin-bottom: 15px;
  text-decoration: underline;
}
.devices{
  background-color: black;
  border-bottom: 9px solid #222;
  padding: 50px;
}

#devices-video{
 height: 100%;
 position: absolute;
 left: 39%;
 max-width: 52%;
 max-height: 59%;
 top: 25%;
transform: translate(-50%, -50%);

}



@media screen and (max-width: 768px){
  .netflixLogo{
        width: 90px;
        height: 25px;
        padding: 9px 0 0 10px;
    }
    .netflix-bar{
        padding: 10px 0px 0px 0px;
    }

    .netflix-bar button{
        padding: 10px 2px;
        margin-right: 3px;
    }

    .content .netflixform{
        flex-direction: column;
        margin-bottom: 20px;
    }

    .content .netflixform input{
        margin-bottom: 20px;
        padding: 10px 15px;
        margin-right: 22px
    }

    .content .netflixform button{
        padding: 10px 19px;
        margin-left: 0px;
        font-size: 15px;
    }
    .content h1{
     padding: 0px 35px;
     font-size: 23px;
    }

    .content h5{
        padding: 0px 20px;
        font-size: 14px;

    }

    .clip img{
      width: 160%;
      margin-left: -25% !important;
     
  
    }

    .clipp img{
      width: 160%;
      margin-left: -25% !important;
     
  
    }

    .netflixform input{
        padding: 2px 8px;
        /* margin-bottom: 50px; */
    }

    .netflixform button{
    padding-top: 1px;
    padding-bottom: 1px;
    
    font-size: 10px;
    }

    #television-heading{
      font-size: 22px;
      margin-left: 5px;
    }

    .description p{
      font-size: 10px;
    }

    .television-container{
      margin-bottom: 100px;
      flex-direction: column;
    }
    
.DiffFeatures {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left:1% ;
    padding-right: 1%;
    overflow-x: hidden;
    width: fit-content;
  }

  #television-video{
    top: 17%;
    left: -5%;
    width: 118%;
    height: 44%;
    
  }

  #devices-video{
    top: 25%;
    left: 50%;
    width: 100%;
    height: 100%;
    
    
  }

  .DiffFeatures-content {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 9px;
    padding-top: 70px;
  }
  .DiffFeatures-content p {
    font-size: 18px;
    margin-top:28px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .DiffFeatures-content h1 {
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .Features {
    background-color: black;
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    /* text-align: center; */
  }
  
  .Features img{
    display: flex;
    justify-content: center;
    width: 90%;
    /* object-fit: contain;
    object-position: center; */
    /* align-self: center; */
    padding-left: 40px;
    margin-right: 5%;
    margin-left: -1%;
  
    /* max-width: 100%; */
    height: 360px;
  }
  
  .Features .image {
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* align-self: center;
    object-fit: contain; */
  }
  
  .Features-content{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 0px;
    padding-top: 70px;

  }
  .Features-content p {
    font-size: 17px;
    margin-top:28px;
    margin-left: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .Features-content h1 {
    margin-left: 95px;
    font-size: 30px;
    flex-direction: row;
  }

  .accordion {
    width: 95vw;
    font-size: 19px;
  }

  .panel {
   margin-left: 1.5%;
   width: 95vw;
   font-size: 16px;
  }

  .faq-form {
    flex-direction: column;
  }

  .faq-form input{
    padding: 15px 10px;
    width: 75vw;
    background: none;
    border: 1px solid #fff;
       outline: none;
       margin-right: 1px;
   
   }
   
   .faq-form button{
     background-color: #e50914;
       border: none;
       outline: none;
       color: #fff;
       padding: 10px 30px;
       font-size: 25px;
       font-weight: 600;
       border-radius: 3px;
       cursor: pointer; 
       margin-left: 5px; 
       margin-top: 20px;
   }

   .footer .row{
    flex-direction: column;
   }
}